/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #AA2F343F;
    background-alt: #282B31FF;
    foreground:     #FFFFFFFF;
    selected:       #EF6161FF;
    active:         #FE0703FF;
    urgent:         #E06C75FF;
}
